flask
gunicorn
python-dotenv
langchain
langchain-community
langchain-huggingface
langchain-groq
langchain-text-splitters
langchain-core
chromadb
sentence-transformers
pypdf
unstructured
python-docx
jq